body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2abdf2;
}

.container {
    display: flex;
}

.form-container {
    background-color: #d5da5c;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('loginbg.jpg'); /* Replace 'background-image.jpg' with your actual image file */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 8px;
} 

/* Style for form inputs */
input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

/* Additional styles for error messages or other elements if needed */
.error {
    color: red;
}
